/*Bannière*/
.section_banniere{
  display: flex;
  align-items: center;
}


  .banniere_p{
    color: black;
    font-size: 30px;
  }
  

  .cadre-text{
    border: 5px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 20%;
  }