#project {
    @include center;
    flex-direction: column;
    margin-top: 10%;
    background: linear-gradient(120deg, #031163, #1fbfb8, #031163);
    padding-bottom: 7%;

    h2{
        color: #dadada;
        font-size: 43px;
    }
}

.imgProject{
    height: 59%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}
