/*Général*/
a {
    text-decoration: none;
  }
  
  body {

    margin: 0;
    padding: 0;

  }
  .App{
    background-color: #fff7f7;

  }


  .border {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    border-left: 125px solid #000;
    border-image: linear-gradient(to bottom, #75b9ff 0%, #050a29 100%) 1;
}