.header {
  display: flex;
  justify-content: space-between;
  padding: 0 7% 0 7%;
  align-items: baseline;
  background: #031163;
box-shadow: 10px 3px 5px rgba(0, 0, 0, 0.5);

  
   
      .header-title{
        font-family: Roboto, sans-serif;
        color: #1fbfb8;
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
      }    

}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.nav a {
  position: relative;
  color: #1fbfb8;
  text-shadow: 2px 2px 4px black;
  font-size: 18px ;
  font-family: Roboto, bold;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding-left: 5px;
  margin: 21px;
  padding: 6px;
}

.nav a::before,
.nav a::after,
.nav a span::before,
.nav a span::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: transparent;
  transition: 1s;
}

.nav a::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid #05716c;
  border-left: 2px solid #05716c;
}
.nav a::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid #1978a5;
  border-right: 2px solid #1978a5;
}

.nav a span::before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid #1978a5;
  border-left: 2px solid #1978a5;
}
.nav a span::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid #05716c;
  border-right: 2px solid #05716c;
}

.nav a:hover::before,
.nav a:hover::after,
.nav a:hover span::before,
.nav a:hover span::after {
  width: 50px;
  height: 20px;
}